<link rel="stylesheet" href="/css/user_profile.css">
    <h4><%= title %></h4>

    <img src="<%= user.avatar %>" alt="<%= user.name %>" width="100">
    <div class="card">
        <p><%= profile_user.name %></p>
        <p><%= profile_user.email %></p>
    </div>

    <div class="card">
        <% if(profile_user.id == user.id) {%>
            <form action="/users/update/<%= user.id %>" method="POST" enctype="multipart/form-data">
                <input type="text" name="name" placeholder="name" value="<%= profile_user.name%>">
                <input type="email" name="email" placeholder="email" value="<%= profile_user.email %>">
                <input type="file" name="avatar" placeholder="Profile Picture">
                 
                <button value="submit">update</button>
            </form>
        <%}%>
    </div>
    